html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.site-container {
	max-width: 1200px;
}

#page {
    margin: 0 auto;
    padding: 30px 0px;
}

#logo {
    display: block;
    margin: 0 auto;
}

header {
    background-color: #eee5cc;
    width: 100%;
    height: 200px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    color: #404040;
    text-align: center;
}

h2 {
    font-family: "Pacifico", cursive;
    font-size: 1.75em;
    padding: 0 0.5em 0 0.5em;
    color: #06b1af;
    text-align: center;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #404040;
    text-align: center;
}

p  {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding: 2em;
    line-height: 180%;
}

section a {
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #b54e23;
    padding: 2em;
}

section a:hover {
    color: #f39e7a;
    font-size: 115%;
}

.button {
    background-color: #d20072;
    color: #ffffff;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.button:active {
    color: #ffffff;
}

.button:hover {
    color: #ffffff;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.colors {
    padding: 2em;
    margin: auto;
    text-align: center;
}

#dark-orange {
    width: 40%;
    background-color: #b54e23;
    padding: 5em;
    display: inline-block;
    margin: 5px;
}

#light-orange {
    width: 40%;
    background-color: #f39e7a;
    padding: 5em;
    display: inline-block;
    margin: 5px;
}

#magenta {
    width: 40%;
    background-color: #d20072;
    padding: 5em;
    display: inline-block;
    margin: 5px;
}

#teal {
    width: 40%;
    background-color: #06b1af;
    padding: 5em;
    display: inline-block;
    margin: 5px;
}

#cream {
    width: 82%;
    background-color: #eee5cc;
    padding: 5em;
    display: inline-block;
    margin: 5px;
}

@media all and (min-width: 800px) {
    #dark-orange {
        width: 10%;
        background-color: #b54e23;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }
    #light-orange {
        width: 10%;
        background-color: #f39e7a;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }
    #magenta {
        width: 10%;
        background-color: #d20072;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }

    #teal {
        width: 10%;
        background-color: #06b1af;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }

    #cream {
        width: 10%;
        background-color: #eee5cc;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }
    #wood-texture {
        width: 20%;
        display: inline-block;
        margin: 20px;
    }

    #calligraphy {
        width: 20%;
        display: inline-block;
        margin: 20px;
    }

    #salmon {
        width: 20%;
        display: inline-block;
        margin: 20px;
    }
}

@media all and (max-width: 400px) {
    #cream {
        width: 40%;
        background-color: #eee5cc;
        padding: 5em;
        display: inline-block;
        margin: 5px;
    }
}

.textures {
    margin: auto;
    text-align: center;
}

#wood-texture {
    margin: 15px;
}

#calligraphy {
    margin: 15px;
}

#salmon {
    margin: 15px;
}

footer {
    background-color: #eee5cc;
    width: 100%;
    height: 100px;
}

footer p {
    color: #404040;
    margin: auto;
    text-align: center;
}
